@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

body {
    @apply dark:bg-[#f7f3f3] bg-[#111827]
}